{% include "html/header.html" %}

<title>Home</title>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand">LSI Vector Model App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page">Home</a>
                </li>
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link">Link</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link">Link</a>-->
<!--                </li>-->
            </ul>
        </div>
    </div>
</nav>
<br>
<section>
    <div class="container">
        <div class="row">

            {% for article in page_obj %}
            <div class="col-md-4">
                <h4>{{ article.title }}</h4>
                <p>{{ article.content }}</p>
                <p><a class="btn btn-outline-primary" href="/lsi/article/{{ article.num }}" role="button">View details
                    »</a>
                </p>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<br>
<div class="container">
    <nav aria-label="...">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">&laquo;</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}"><span
                        class="text-center">&lsaquo;</span></a>
            </li>

            {% else %}

            <li class="page-item disabled">
                <a class="page-link"><span
                        class="text-center">&laquo;</span></a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href="?page=1">&lsaquo;</a>
            </li>

            {% endif %}
            <li class="page-item active">
                <a class="page-link current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </a>
            </li>
            {% if page_obj.has_next %}

            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">&rsaquo;</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link">&rsaquo;</a>
            </li>
            <li class="page-item disabled">
                <a class="page-link">&raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>

{% include "html/footer.html" %}
